@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
header, footer{
    background-color: #181D31;
    padding: 0.5rem;
}
.btn-primary{
    background-color: #181D31 !important;
    border: #181D31 !important;
}
.nav-link{
    color: white !important;
    
}
.nav-item{
    position: relative;
}
.nav-link::before{
    content: "";
    width: 0%;
    height: 0.3rem;
    bottom: 0;
    left: 0;
    position: absolute;
    background: #6096B4;
    border-radius: 1rem;

    transition: 500ms;
}
.nav-link:hover::before{
    width: 100%;
}
i{
    color: white;
}
.active{
    color: #6096B4 !important;
}
.active::before{
    content: "";
    width: 100%;
    height: 0.3rem;
    bottom: 0;
    left: 0;
    position: absolute;
    background: #6096B4;
    border-radius: 1rem;

    transition: 500ms;
}
.icon-car{
    font-size: 2rem;
    color: #181D31;
}
.list-itens{
    width: 10rem !important;
    min-width: 10rem !important;
    overflow: hidden;
}
.list-itens::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.3rem;
    background-color: #181D31;

    transition: 500ms;
}

@media only screen and (max-width: 600px) {
    .nav-types{
        overflow-x: scroll;
    }
}