@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
header{
    background-color: #E5273D;
}
.nav{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12vh;
    color: white;
}
p{
    margin: 0 !important;
    padding: 0 !important;
}
.banner{
    display: flex;
    gap: 1rem;
    justify-content: end;
    font-size: 0.8rem;
}
.menu-hamburguer{
    display: none;
}
.links{
    display: block;
}
.logo{
    position: absolute;
    bottom: -30%;
    width: 110px;
    height: 110px;
    border-radius: 0.5rem;
    background-color: rgb(221, 221, 221);
}
.variedades{
    display: flex;
    flex-direction: column;
}
.panel{
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 0;
}
.img-card{
    width: 80px;
    height: 80px;
    background-color: grey;
    border-radius: 50%;
}
main{
    background-color: #F9F9F9;
    box-shadow: 0 1.5rem 1rem -2px rgba(205, 205, 205, 0.446) inset; 
}
a{
    text-decoration: none !important;
    color: black !important;
}
i{
    color: #E5273D;
}

@media only screen and (max-width: 600px) {
    .menu-hamburguer{
        display: block;
    }
    .links{
        display: none !important;
    }
}